################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Utility
/Utility/bin
/Utility/obj
*.nupkg
Utility.FTP/obj
Utility.Test/obj
/Utility.FTP/bin/Debug/netstandard2.1
Utility.Test/bin
Utility.FTP/bin
/Utility.sln.DotSettings.user
