################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Utility
/Utility/bin
/Utility/obj
*.nupkg
/Utility.FTP/bin
/Utility.FTP/obj/Debug
/Utility.FTP/obj/Release
/Utility.FTP/obj
/Utility.Test/bin/Debug
/Utility.Test/obj/Debug
/Utility.Test/obj/Release/netcoreapp3.0
/Utility.Test/obj
/Utility.sln.DotSettings.user
/Utility.Test/bin/Release/netcoreapp3.0
/.vs/ProjectEvaluation
