################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Utility
/Utility/bin
/Utility/obj
*.nupkg
